<p-dataTable [value]="lancamentos" [paginator]="true" [rows]="5" [responsive]="true">
   <p-column header="Pessoa" field="pessoa"></p-column>
   <p-column header="Descrição" field="descricao"></p-column>
   <p-column header="Vencimento" styleClass="cf-col-data" field="dataVencimento">
      <ng-template let-lanc="rowData" pTemplate="body">
         <span>{{lanc.dataVencimento  | date:'dd/MM/y'}}</span>
      </ng-template>
   </p-column>
   <p-column header="Pagamento" styleClass="cf-col-data" field="dataPagamento">
      <ng-template let-lanc="rowData" pTemplate="body">
         <span>{{lanc.dataPagamento  | date:'dd/MM/y'}}</span>
      </ng-template>
   </p-column>
   <p-column header="Valor" styleClass="cf-col-valor" field="valor">
      <ng-template let-lanc="rowData" pTemplate="body">
         <span [style.color]="lanc.tipo ==='DESPESA' ? 'red' : 'blue'">{{lanc.valor | currency:'BRL':true:'1.2-2'}}</span>
      </ng-template>
   </p-column>
   <p-column styleClass="cf-col-acao">
      <ng-template pTemplate="body">
         <a pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="top"></a>
         <button pButton icon="fa-trash" pTooltip="Excluir" tooltipPosition="top"></button>
      </ng-template>
   </p-column>
</p-dataTable>
