<div class="cf-container">
   <form autocomplete="off" (ngSubmit)="salvar()" [formGroup]="formulario">
      <div class="ui-g">
         <div class="ui-g-12">
            <h1>{{ editando ? 'Edição de' : 'Novo' }} Lançamento</h1>
         </div>

         <div class="ui-g-12">
            <p-selectButton name="tipo" [options]="tipos"
            formControlName="tipo" ></p-selectButton>
         </div>

         <div class="ui-g-6 ui-md-3 ui-fluid">
            <label>Vencimento</label>
            <p-calendar dateFormat="dd/mm/yy" [inline]="false" [showIcon]="true"
            [readonlyInput]="false" name="vencimento"
            formControlName="dataVencimento"></p-calendar>

            <app-messages [control]="formulario.get('dataVencimento')" error="required"
               text="Informe uma data de vencimento"></app-messages>
         </div>

         <div class="ui-g-6 ui-md-3 ui-fluid">
            <label>{{formulario.get('tipo').value === 'RECEITA' ? 'Recebimento' : 'Pagamento'}}</label>
            <p-calendar name="pagamento" dateFormat="dd/mm/yy" [inline]="false" [showIcon]="true"
            [readonlyInput]="false"
            formControlName="dataPagamento"></p-calendar>
         </div>

         <div class="ui-g-12 ui-md-9 ui-fluid">
            <label>Descrição</label>
            <input pInputText type="text" name="descricao"
               formControlName="descricao">

            <app-messages [control]="formulario.get('descricao')" error="obrigatorio"
               text="Informe uma descrição"></app-messages>

            <app-messages [control]="formulario.get('descricao')" error="tamanhoMinimo"
               text="Mínimo de {{ formulario.get('descricao').errors?.tamanhoMinimo?.tamanho }} caracteres"></app-messages>
         </div>

         <div class="ui-g-12 ui-md-3 ui-fluid">
            <label>Valor</label>
            <input pInputText currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false}"
               type="text" placeholder="0,00" name="valor"
               formControlName="valor">
         </div>

         <div class="ui-g-12 ui-md-6 ui-fluid" formGroupName="categoria">
            <label>Categoria</label>
            <p-dropdown [options]="categorias" [autoWidth]="false" placeholder="Selecione"
               name="categoria" formControlName="codigo"></p-dropdown>
         </div>

         <div class="ui-g-12 ui-md-6 ui-fluid" formGroupName="pessoa">
            <label>Pessoa</label>
            <p-dropdown [options]="pessoas" [autoWidth]="false" [filter]="true" placeholder="Selecione"
               name="pessoa" formControlName="codigo"></p-dropdown>
         </div>

         <div class="ui-g-12 ui-fluid">
            <label>Observação</label>
            <textarea name="observacao" pInputTextarea rows="3"
            formControlName="observacao"></textarea>
         </div>

         <div class="ui-g-12">
            <button pButton type="submit" label="Salvar" [disabled]="formulario.invalid"></button>
            <button pButton type="button" label="Novo" class="ui-button-info"
                  (click)="novo()"></button>
            <a routerLink="/lancamentos">Voltar para a pesquisa</a>
         </div>
      </div>
   </form>
</div>
