<p-dataTable [value]="pessoas" [responsive]="true" 
  emptyMessage="Nenhum registro encontrado." 
  [paginator]="true" [rows]="filtro.itensPorPagina"
  [lazy]="true" [totalRecords]="totalRegistros" 
  (onLazyLoad)="aoMudarPagina($event)"
  #tabela>
  <p-column header="Nome" field="nome"></p-column>
  <p-column header="Cidade" field="endereco.cidade"></p-column>
  <p-column header="Estado" field="endereco.estado"></p-column>
  <p-column header="Status" field="ativo">
    <ng-template let-pessoa="rowData" pTemplate="body" let-pessoa="rowData">
      <a href="javascript:;" [pTooltip]="pessoa.ativo ? 'Desativar' : 'Ativar'" 
      tooltipPosition="top" (click)="atualizarStatus(pessoa)">
                  {{ pessoa.ativo ? 'Ativo' : 'Inativo' }} 
                </a>
    </ng-template>
  </p-column>
  <p-column styleClass="cf-col-acao">
    <ng-template pTemplate="body" let-pessoa="rowData">
      <a pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="top"></a>
      <button pButton icon="fa-trash" pTooltip="Excluir" tooltipPosition="top"
         (click)="confirmarExclusao(pessoa)"></button>
    </ng-template>
  </p-column>
</p-dataTable>